<div class="author">
    <h1 class="author__heading">Nivedh Biju here !</h1>
    <p class="author__body">Developer at heart.</p>
</div>

<img src=".\img\developer-image.jpg" width="781" height="528">

<section class="articles">
    <h2 class="articles__heading">Latest blogs</h2>

    <ul class="article-ul">

        <ul>
            <% data.forEach(Post => { %>
            <li>
                <a href="/post/<%= Post._id %>">
                    <span><%= Post.title %></span>
                    <span class="article-list__date"><%= Post.createdAt.toDateString() %></span>
                </a>
            </li>
            <% }) %>
        </ul>
        
    </ul>

    <% if (nextPage !==null) { %>
        <a href="/?page=<%= nextPage %>" class="pagination">&lt; view Older blogs</a>
    <% } %>
</section>